<div class="contenedor">
    <div >
        <h1 class="center">Conductor</h1>
    
        <br>
        <mat-divider></mat-divider>

        <br>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
         
                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipoDocumento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> T. documento </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoDocumento.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                        <td mat-cell *matCellDef="let element">{{element.documento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nick">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nick </th>
                        <td mat-cell *matCellDef="let element"> {{element.nick}} </td>
                    </ng-container>
                    <ng-container matColumnDef="celular">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                    </ng-container>
                    <ng-container matColumnDef="celularAux">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cel. Auxiliar </th>
                        <td mat-cell *matCellDef="let element"> {{element.celularAux}} </td>
                    </ng-container>
                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                    </ng-container>   
                    <ng-container matColumnDef="cargo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
                        <td mat-cell *matCellDef="let element"> {{element.rol.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ciudad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
                        <td mat-cell *matCellDef="let element"> {{element.ciudad.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" value=""[routerLink]="['editVehi/',element.idVehiculo]"><mat-icon>edit</mat-icon> Editar</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                    
                </table>
             
    </div>
    <br>
    <button mat-raised-button color="primary" value="buscar" [routerLink]="['/usuario']"><mat-icon>west</mat-icon></button>
    
</div>
